<div class="container">
  <h2>horaires</h2>
  <ul class='no-bullet'>
    <% @horaires.each do |horaire| %>
      <li>> <%= link_to horaire.date, horaire_path(horaire) %></li>
      <li><%= horaire.debut %></li>
      <li><%= horaire.fin %></li>
    <% end %>
  </ul>
</div>