<div class="container">
  <h2>horaires</h2>

    <%# Début du calendrier %>
    <%= month_calendar(events: @consultations) do |date, consultations| %>
      <%= date.day %>
      <% consultations.each do |consultation| %>
        <div>
          <%= link_to "Cons. n°#{consultation.id}", horaire_path(consultation) %>
        </div>
      <% end %>
    <% end %>
    <%# Fin du calendrier %>

  </ul>
</div>