<div class="container">
  <h1>Dashboard <%= current_patient ? 'patient' : 'médecin' || current_medecin ? 'médecin' : 'patient' %></h1>
  <ul class='no-bullet'>
    <% if medecin_signed_in? %>
      <%= link_to 'Horaires', horaires_path %>
    <% end %>
  </ul>
</div>